<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">
<TITLE>Columns, Caption, Items, SubItems, Add example</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000">

<P><B><IMG SRC="../images/bm1.gif.html" ALT="" BORDER=0> VCL Reference</B></P>

<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">
	<PARAM NAME="Keyword" VALUE="Add,example">
	<PARAM NAME="Keyword" VALUE="Caption,example">
	<PARAM NAME="Keyword" VALUE="Columns,example">
	<PARAM NAME="Keyword" VALUE="Items,example">
	<PARAM NAME="Keyword" VALUE="SubItems,example">
</OBJECT>

<P><A NAME="tlistview_create_example"></A><B>Columns, Caption, Items, SubItems, Add example</B></P>

<P>This example requires only a blank form.  All other objects: TListView, TListColumns, TListItems, are created dynamically.  You must add #include &lt;comctrls.hpp&gt; to the top of the unit </P>

<P><B>void __fastcall</B> TForm1::FormCreate(TObject *Sender)</P>

<P>{</P>

<P><B>const</B> <B>char</B> Names[6][2][10] = </P>

<P>{{"Rubble","Barny"},</P>

<P>{"Michael", "Johnson"},</P>

<P>{"Bunny", "Bugs"},</P>

<P>{"Silver", "HiHo"},</P>

<P>{"Simpson", "Bart"},</P>

<P>{"Squirrel", "Rocky"}};</P>

<P>TListColumn  *NewColumn;</P>

<P>TListItem  *ListItem;</P>

<P>TListView   *ListView = <B>new</B> TListView(<B>this</B>);</P>

<P>ListView-&gt;Parent = <B>this</B>;</P>

<P>ListView-&gt;Align = alClient;</P>

<P>ListView-&gt;ViewStyle = vsReport;</P>

<P>NewColumn = ListView-&gt;Columns-&gt;Add();</P>

<P>NewColumn-&gt;Caption = "Last";</P>

<P>NewColumn = ListView-&gt;Columns-&gt;Add();</P>

<P>NewColumn-&gt;Caption = "First";</P>

<P><B>for</B> (<B>int</B> i = 0; i &lt; 6; i++)</P>

<P>{</P>

<P>ListItem = ListView-&gt;Items-&gt;Add();</P>

<P>ListItem-&gt;Caption = Names[i][0];</P>

<P>ListItem-&gt;SubItems-&gt;Add(Names[i][1]);</P>

<P>}</P>

<P>}</P>

</BODY>
</HTML>
